.text-purple {
  color: purple;
}

.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.35);
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.imgstyle {
  width: 100%;
  height: auto;}
