body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.highlighted-text {
  text-align: center;
  color: purple;
}

.layout-section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: white;
}

h1, h2, h3 {
  text-align: center;
  color: #5c2843;
}

p {
  font-size: 16px;
  color: white;
  margin-bottom: 1em;
}

.header-section {
  background-color: floralwhite;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#navbar {
  overflow: hidden;
  background-color: #5c2843;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: floralwhite;
  color: #5c2843;
}
main {
  padding: 20px;
}
figure {
  text-align: center;
  margin: 20px 0;
}
section {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: floralwhite;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}
blockquote {
  margin: 20px;
  padding: 20px;
  background-color: floralwhite;
  border-left: 10px solid #ccc;
  font-style: italic;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #5c2843;
  color: #f2f2f2;
}

footer a {
  color: #f2f2f2;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#image-thumbnail {
  width: 1300px;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#services {
  text-align: center;
}
