body {
  font-family: "Palatino Linotype";
  background-color: ghostwhite;
}
.header-title {
  text-align: center;
  font-size: 40px;
  margin: 25px;
  color: purple;
}
#navigation {
  margin-top: 15px;
}
.nav-link {
  color: darkorchid;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15px;
  transition: background-color 0.2s, color 0.2s;
}
.nav-link:hover {
  background-color: darkslateblue;
  color: white;
}
#main{
  padding: 20px;
  max-width: 1350px;
  margin: auto;
}
.section-title{
  font-size: 28px;
  color: darkmagenta;
  border: 2px solid rebeccapurple;
  border-radius: 20px;
  padding: 15px;
}
.text-description {
  font-size: 18px;
  color: indigo;
}
.services-list {
  color: mediumvioletred;
  font-size: 18px;
}
.text-price {
  font-size: 18px;
  margin: 15px;
  padding: 5px;
  color: mediumvioletred;
}
.review-quote {
  font-size: 18px;
  color: indigo;
  padding: 10px;
  margin: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.gallery-image {
  width: 240px;
  height: 240px;
  border-radius: 20px;
}
.gallery-caption{
  font-size: 17px;
  color: indigo;
}
#footer {
  background-color: gray;
  color: whitesmoke;
  text-align: center;
  padding: 20px;
}
.contact-mail {
  color: navy;
}
.contact-mail:hover{
  color: white;
}


